*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
}
.left_area{
    width: 366px;
    height: 100vh;
    background-color: lightgray;
    float: left;
    padding-top: 70px;
    /* padding-top 上方的內距 */
}
.mb_btn{
    display: none;
}
.logo{
    width: 150px;
    height: 150px;
    background-image: url('../image/moneycat.jpg');
    background-size: cover;
    background-position: 40% 50%;
    margin: auto;
    margin-top: 100px;
}
.nav_btn{
    width: 100%;
    text-align: center;
}
.btn{
    display: block;
    font-size: 24px;
    line-height: 48px;
}
.right_area{
    width: calc(100% - 366px);
    height: 100vh;
    float: left;
    position: relative;
}
.block{
    width: 960px;
    height: 570px;
    margin-right: 5px;
    float: right;
    position: absolute;
    /* 做圖形置中的部分 */
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.box{
    height: 100%;
    float: left;
    background-position: center;
}
.x{
    width: 33%;
    margin-right: 5px;
    background-image: url(../image/img_parallax.jpg);
}
.y{
    width: calc(34% - 10px);
    margin-right: 5px;
    background-image: url(../image/img_parallax2.jpg);
}
.z{
    width: 33%;
    background-image: url(../image/img_parallax3.jpg);
}
.mask{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    transition: 5s;
}
.mask:hover{
    opacity: 0%;
}



/* 換低解析筆電版 */
@media(max-width:1330px)
{
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
    }
    .left_area{
        width: 366px;
        height: 100vh;
        background-color: lightgray;
        float: left;
        padding-top: 70px;
    }
    .mb_btn{
        display: none;
    }
    .logo{
        width: 150px;
        height: 120px;
        background-image: url('../image/moneycat.jpg');
        background-size: cover;
        background-position: 40% 50%;
        margin: auto;
        margin-bottom: 50px;
    }
    .nav_btn{
        text-align: center;
    }
    .btn{
        display: block;
        font-size: 24px;
        line-height: 48px;
        margin-right: 20px;
    }
    .right_area{
        width: calc(100% - 366px);
        height: 100vh;
        float: left;
        position: relative;
    }
    .block{
        width: 768px;
        height: 570px;
        background-color: tomato;
        position: absolute;
        /* 做圖形置中的部分 */
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .box{
        background-size: cover;
        background-position: center;
    }
    .x{
        width: 100%;
        height: calc(50% - 2.5px);
        margin-bottom: 5px;
        background-image: url(../image/img_parallax.jpg);
    }
    .y{
        width: calc(50% - 2.5px);
        height: calc(50% - 2.5px);
        margin-right: 5px;
        background-image: url(../image/img_parallax2.jpg);
        float: left;
    }
    .z{
        width: calc(50% - 2.5px);
        height: calc(50% - 2.5px);
        background-image: url(../image/img_parallax3.jpg);
        float: left;
    }  
}

/* 切換成平板版 */
@media(max-width:1149px)
{
    * {
        /* 不用算padding增加的寬高 */
        box-sizing: border-box;
      }
      body {
        margin: 0;
        width: 100%;
        height: 100vh;
      }
      .left_area {
        width: 100%;
        height: 100px;
        background-color: lightgray;
        padding: 10px 20px;
      }
      .mb_btn{
        display: none;
      }
      .logo {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: 40% 50%;
        background-image: url(../image/moneycat.jpg);
        float: left;
      }
      .nav_btn {
        float: right;
        height: 100%;
        width: auto;
        font-size: 24px;
        line-height: 24px;
        padding: 28px 0;
        /* 總高100px - 父層padding的20px - 文字24px=56px*/
      }
      .btn {
        margin-right: 10px;
        float: left;
      }
      /* 電腦版的右邊區塊=平板版的下方區塊 */
      .right_area {
        /* 
          height或width要寫100%
          父層需設定寬高才有用
        */
        width: 100%;
        height: calc(100vh - 100px);
        background-color: white;
        padding: 45px 20px 0;
      }
      .block {
        width: 100%;
        height: 800px;
        background-color: yellow;
      }
      .box{
        height: calc(50% - 2.5px);
        background-size: cover;
        background-position: center;
        float: left;
      }
      .x{
        width: 100%;
        background-image: url(../image/img_parallax.jpg);
      }
      .y{
        width: calc(50% - 2.5px);
        background-image: url(../image/img_parallax2.jpg);
      }
      .z{
        width: calc(50% - 2.5px);
        background-image: url(../image/img_parallax3.jpg);
      }
}

/* 縮成手機的網頁 */
@media(max-width:540px)
{
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
    }
    .left_area{
        width: 100%;
        height: 80px;
        background-color: gray;
        padding: 15px 20px;
        /* 設定側邊欄的位置 */
        position: relative;
    }
    .mb_btn{
        display: block;
        width: 40px;
        height: 50px;
        background-color: black;
    }
    .logo{
        width: 54px;
        height: 54px;
        background-image: url(../image/moneycat.jpg);
        background-size: cover;
        background-position: 40% 50%;
        /*background-position 改變LOGO照片的位置 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav_btn{
        display: none;
    }
    .right_area{
        width: 100%;
        height: calc(100% - 80px);
        padding: 0;
        position: relative;
    }
    .block{
        width: 100%;
        background-color: indianred;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }
    .box{
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        margin: auto;
    }
    .x{
        background-image: url(../image/img_parallax.jpg);
    }
    .y{
        background-image: url(../image/img_parallax2.jpg);
    }
    .z{
        background-image: url(../image/img_parallax3.jpg);
    }
}